<!doctype html>
<html ng-app="memoryGameApp">
<head>
  <meta charset="utf-8">
  <title>TESL Pack Simulator</title>
  <link rel="stylesheet" href="css/pack.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/game.js"></script>
</head>
<body ng-controller="GameCtrl">
<center>

  <table width="100%">
    <tr ng-repeat="row in game.grid">
      <td align="center" ng-repeat="tile in row" ng-click="game.flipTile(tile)">

        <!-- this entire block can be replaced with our custom component mgCard:
          <mg-card tile="tile"></mg-card>
        -->
        <div class="container">
          <div class="card" ng-class="{flipped: tile.flipped}">
              <img class="front" ng-src="img/cardback.png" style="height:95%;width=95%;position:absolute; top:0px">
              <img class="back" ng-src="https://tesl.site/img/jpg/{{tile.cardid}}.jpg" style="height:100%;">
          </div>
        </div>

      </td>
    </tr>
  </table>
	<div class="form-group row">
	<div class="col-xs-1"></div>
		<div class="col-xs-2">
			<button type="button" class="btn btn-default" ng-click="reset()">Open Pack</button>
		</div>
		<div class="col-xs-8">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TESL -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6474919292299826"
     data-ad-slot="7466728348"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
</center>
</body>
</html>
